<div class="thumbnail">
  <img src="http://placehold.it/820x230" alt="">
  <div class="">
    <h4 class="pull-right">{{ product.price }}元</h4>
    <h4>{{ product.title }}</h4>
    <p>{{ product.desc }}</p>
  </div>
  <div class="">
    <p class="pull-right">{{ comments.length }}</p>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>
</div>

<div class="well">
  <div class="">
    <app-product-new-comment></app-product-new-comment>
  </div>
  <div class="" *ngFor="let comment of comments">
    <app-product-comment [comment]="comment"></app-product-comment>
  </div>
</div>
